/* Start Global Variables */
:root {
    --main-color: #19c8fa;
    --transition-duration: 0.3s;
    --transparent-color: rgb(15 116 143 / 70%);
    --main-padding: 100px;
}

/* End Global Variables */

/* Start Components */
.main-heading {
    text-align: center;
}

.main-heading h2 {
    font-weight: normal;
    font-size: 40px;
    margin-bottom: 70px;
    text-transform: uppercase;
    position: relative;
}

.main-heading h2::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    bottom: -30px;
}

.main-heading h2::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border: 2px solid #333;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    bottom: -38px;
    background-color: white;
}

.main-heading p {
    width: 550px;
    margin: 0 auto 100px;
    max-width: 100%;
    color: #777;
}

/* End Components */

/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */

/* Start Header */
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}

header .container::after {
    content: '';
    position: absolute;
    height: 1px;
    background-color: #a2a2a2;
    width: calc(100% - 30px);
    bottom: 0;
    left: 15px;
}

header .logo img {
    height: 40px;
}

header nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav .toggle-menu {
    color: white;
    font-size: 22px;
    cursor: pointer;
}

@media (min-width: 768px) {
    header nav .toggle-menu {
        display: none;
    }

}

header nav ul {
    display: flex;
}

@media (max-width: 767px) {
    header nav ul {
        display: none;
    }

    header nav .toggle-menu:hover+ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgb(0 0 0 / 50%);
    }

    header nav .toggle-menu:hover+ul li a {
        padding: 15px;
    }
}

header nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: var(--transition-duration, 0.3s);
    padding: 40px 10px;
    position: relative;
    z-index: 2;
}

header nav ul li a.active,
header nav ul li a:hover {
    color: var(--main-color, #19c8fa);
    border-bottom: 1px solid var(--main-color, #19c8fa);
}

header nav .form {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid white;
}

header nav .form i {
    color: white;
    position: absolute;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    cursor: pointer;
}

/* End Header */

/* Start Landing */
.landing {
    min-height: 100vh;
    /* Backup color if the image is not available */
    background-color: #1f2021;
    background-image: url('../images/landing.jpg');
    background-size: cover;
    position: relative;
}

.landing .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}

.landing .overlay .text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    background-color: var(--transparent-color, rgb(15 116 143 / 70%));
    color: white;
    display: flex;
    justify-content: flex-end;
}

.landing .overlay .text .content {
    max-width: 500px;
}

@media (max-width: 767px) {
    .landing .overlay .text {
        width: 100%;
    }

    .landing .overlay .text .content {
        max-width: 100%;
    }
}

.landing .overlay .text .content h2 {
    font-size: 32px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 30px;
}

.landing .overlay .text .content p {
    font-size: 14px;
    line-height: 2;
}

.landing .change-background {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ddd;
    cursor: pointer;
}

@media (max-width: 767px) {
    .landing .change-background {
        display: none;
    }
}

.landing .icon-left {
    left: 30px;
}

.landing .icon-right {
    right: 30px;
}

.landing .bullets {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    display: flex;
}

.landing .bullets li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid white;
    margin-left: 10px;
}

.landing .bullets li.active-bullet {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

/* End Landing */

/* Start Services */

.services {
    padding-top: var(--main-padding, 100px);
    padding-bottom: var(--main-padding, 100px);
}

@media (min-width: 768px) {
    .services-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        grid-column-gap: 40px;
        grid-row-gap: 60px;
    }
}

.services .srv-box {
    display: flex;
}

.services .srv-box i {
    margin-right: 50px;
}

@media (max-width: 767px) {
    .services .srv-box {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
    }

    .services .srv-box i {
        margin: 0 0 30px;
    }
}

.services .srv-box h3 {
    margin-bottom: 30px;
    color: var(--main-color);
}

.services .srv-box p {
    line-height: 2;
    color: #777;
}

/* End Services */

/* Start Design */

.design {
    padding-top: var(--main-padding, 100px);
    padding-bottom: var(--main-padding, 100px);
    height: 600px;
    position: relative;
    background-image: url('../images/design-features.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.design::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 60%);
}

.design .image,
.design .text {
    position: relative;
    z-index: 2;
    flex: 1;
}

.design .image {
    text-align: center;
}

@media (max-width: 767px) {
    .design .image {
        display: none;
    }
}

.design .image img {
    position: relative;
    bottom: -150px;
}

.design .text {
    color: white;
    padding: 50px;
    background-color: var(--transparent-color, rgb(15 116 143 / 70%));
}

.design .text h2 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.design .text ul li {
    padding: 15px 0;
}

.design .text ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f108";
    font-weight: 900;
    margin-right: 20px;
    position: relative;
    top: 1px;
}

/* End Design */

/* Start Portfolio */

.portfolio {
    padding-top: var(--main-padding, 100px);
    padding-bottom: var(--main-padding, 100px);
}

.portfolio .shuffle {
    display: flex;
    justify-content: center;
}

.portfolio .shuffle li {
    padding: 10px;
}

.portfolio .shuffle li.active {
    background-color: var(--main-color);
    color: white;
}

.portfolio .imgs-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}

.portfolio .imgs-container .box {
    position: relative;
    overflow: hidden;
}

.portfolio .imgs-container .box:hover .caption {
    bottom: 0;
}

.portfolio .imgs-container .box:hover img {
    transform: rotate(5deg) scale(1.1);
}

@media (min-width: 768px) {
    .portfolio .imgs-container .box {
        flex-basis: 50%;
    }
}

@media (min-width: 1199px) {
    .portfolio .imgs-container .box {
        flex-basis: 25%;
    }
}

.portfolio .imgs-container .box img {
    max-width: 100%;
    transition: var(--transition-duration);
}

.portfolio .imgs-container .box .caption {
    position: absolute;
    left: 0;
    background-color: white;
    width: 100%;
    transition: var(--transition-duration);
    bottom: -100%;
    padding: 20px;
}

.portfolio .imgs-container .box .caption h4 {
    font-weight: normal;
    margin-bottom: 10px;
}

.portfolio .imgs-container .box .caption p {
    color: var(--main-color);
    font-size: 10px;
}

.portfolio .more {
    text-decoration: none;
    background-color: var(--main-color);
    color: white;
    padding: 15px 20px;
    display: block;
    width: fit-content;
    margin: 30px auto;
    text-transform: uppercase;

}

/* End Portfolio */

/* Start Video */

.video {
    position: relative;
}

.video::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%);
}

.video video {
    width: 100%;
}

.video .text {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    background: var(--transparent-color);
    padding: 50px;
}

.video .text h2 {
    margin: 0 0 30px;
    text-transform: uppercase;
    font-weight: normal;
}

.video .text p {
    margin-bottom: 30px;
}

.video .text button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

/* End Video */

/* Start About */

.about {
    padding-top: var(--main-padding, 100px);
    overflow: hidden;
    text-align: center;
}

.about img {
    position: relative;
    bottom: -120px;
    margin-top: -120px;
    max-width: 100%;
}

@media (max-width: 767px) {
    .about img {
        bottom: -60px;
        margin-top: -60px;
    }
}

/* End About */

/* Start Stats */

.stats {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    text-align: center;
    background-image: url('../images/stats.png');
    background-size: cover;
    position: relative;
}

.stats::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
    top: 0;
    left: 0;
}

.stats .container {
    position: relative;
    color: white;
    display: flex;
    flex-wrap: wrap;
}

.stats .container .box {
    color: white;
    padding: 50px;
    background-color: var(--transparent-color, rgb(15 116 143 / 70%));
}

@media (max-width: 767px) {
    .stats .container .box {
        flex-basis: 100%;
    }
}

@media (min-width: 768px) {
    .stats .container .box {
        flex-basis: 50%;
    }
}

@media (min-width: 992px) {
    .stats .container .box {
        flex-basis: 25%;
    }
}

.stats .container .box i {
    width: 40px;
    height: 40px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto 30px;
}

.stats .container .box .number {
    font-size: 50px;
    font-weight: bold;
    margin: 0 0 20px;
}

.stats .container .box p {
    font-size: 14px;
}

/* End Stats */